:root {
  --background: #1e1e1e;
  --foreground: #ffffff;
  --accent: #ff1801;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #e0e0e0;
    --accent: #ff1801;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: var(--accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@tailwind base;
@tailwind components;
@tailwind utilities;